<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xinyusoft.xshell"
    android:hardwareAccelerated="true"
    android:versionCode="10"
    android:versionName="1.1.4" >

    <!-- xinyusoft start -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 允许应用修改全局音频设定 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!-- 信鸽相关  end -->
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 屏幕方向发生改变时(监测未用到) -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <!-- 使用照相机的权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 百度地图定位 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- xinyusoft end -->

    <application
        android:name="com.xinyusoft.xshelllib.application.AppContext"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true" >

        <!-- xinyusoft start -->
        <!-- 自己项目的相关,创建Activity 或者service 都应该在这里创建 start -->
        <activity
            android:name="com.xinyusoft.xshelllib.ui.HomePageActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/activity_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.xinyusoft.xshell.wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.xinyusoft.xshelllib.ui.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter android:label="@string/launcher_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xinyusoft.xshelllib.ui.GuideActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
        </activity>
        <activity
            android:name="com.xinyusoft.xshelllib.ui.NewBrowserActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
            android:label="@string/title_activity_new_browser"
            android:process=":xinyu_remote"
            android:screenOrientation="portrait"
            android:theme="@style/Theme"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.xinyusoft.xshelllib.lock.UnlockGesturePasswordActivity"
            android:launchMode="singleTask"
            android:process=":xinyu_remote"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" >
        </activity>
        <activity
            android:name="com.xinyusoft.xshelllib.lock.CreateGesturePasswordActivity"
            android:launchMode="singleTask"
            android:process=":xinyu_remote"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" />
        <activity
            android:name="com.xinyusoft.xshelllib.lock.GuideGesturePasswordActivity"
            android:launchMode="singleTask"
            android:process=":xinyu_remote"
            android:screenOrientation="portrait"
            android:theme="@style/Theme" />

        <service android:name="com.xinyusoft.xshelllib.service.RAIntentService" >
        </service>
        <service android:name="com.xinyusoft.xshelllib.service.RAService" >
        </service>

        <activity
            android:name="com.zbar.lib.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- 大转盘相关界面Activity ↓↓↓↓↓↓↓↓↓↓ -->
        <activity
        android:name="com.xinyusoft.xshell.luckview.activity.LuckViewMainActivity"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
        android:process=":xinyu_remote"
        android:screenOrientation="portrait"
        android:theme="@style/Theme"
        android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
        android:name="com.xinyusoft.xshell.luckview.activity.LuckViewRuleActivity"
        android:process=":xinyu_remote"
        android:screenOrientation="portrait" >
        </activity>
        <activity
        android:name="com.xinyusoft.xshell.luckview.activity.LuckViewUserInfoActivity"
        android:process=":xinyu_remote"
        android:screenOrientation="portrait" >
        </activity>
        <activity
        android:name="com.xinyusoft.xshell.luckview.activity.LuckViewJFOKActivity"
        android:process=":xinyu_remote"
        android:screenOrientation="portrait" >
        </activity>
        <activity
        android:name="com.xinyusoft.xshell.luckview.activity.LuckViewStockListActivity"
        android:process=":xinyu_remote"
        android:theme="@style/Theme"
        android:screenOrientation="portrait" >
        </activity>
        <activity
        android:name="com.xinyusoft.xshell.luckview.activity.LuckViewExchangeActivity"
        android:process=":xinyu_remote"
        android:theme="@style/Theme"
        android:screenOrientation="portrait" >
        </activity>

        <!-- 大转盘相关界面Activity ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ -->


        <!-- 自己项目的相关 ,注册Activity 或者service 都应该在这里创建  end ↑↑↑↑↑ -->


        <!-- 信鸽相关 start -->
        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <!-- 【注意】 如果被打开的activity是启动模式为SingleTop，SingleTask或SingleInstance，请根据通知的异常自查列表第8点处理 -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:exported="true" >
            <intent-filter>

                <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
                <action android:name="android.intent.action" />
            </intent-filter>
        </activity>

        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，此选项有助于提高抵达率 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.xinyusoft.uulcs.PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【可选】APP实现的Receiver，用于接收消息透传和操作结果的回调，请根据需要添加 -->
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver android:name="com.xinyusoft.xshelllib.receiver.NotificatinReceiver" >
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100156443" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="A1FRGM2416DF" />

        <!-- 信鸽推送 end -->


        <!-- 百度地图 start -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fGYGYTSFDOcPsmKZKIFUeZlK" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <!-- 百度地图 end -->


        <!-- 百度自动更新 star↓↓↓↓↓↓ -->
        <!--
        <meta-data
            android:name="BDAPPID"
            android:value="6843173" />
        <meta-data
            android:name="BDAPPKEY"
            android:value="g2tbAhvzPUU8zZQ8A617ZpoS" />

        <activity
            android:name="com.baidu.autoupdatesdk.ConfirmDialoigActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/bdp_update_dialog_style_fullscreen" />

        <receiver
            android:name="com.baidu.autoupdatesdk.receiver.BDBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_UPDATE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_DOWNLOAD_COMPLETE" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_NEW_AS" />
                <action android:name="com.baidu.autoupdatesdk.ACTION_AS_DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        -->


        <!-- 百度自动更新 end ↑↑↑↑↑↑ -->
        <!-- 360自动更新 star↓↓↓↓↓↓ -->
        <!--<service-->
        <!--android:name="com.qihoo.appstore.updatelib.CheckUpdateService"-->
        <!--android:exported="false" />-->

        <!--<activity-->
        <!--android:name="com.qihoo.appstore.updatelib.CheckUpdateAcitivty"-->
        <!--android:exported="false"-->
        <!--android:theme="@android:style/Theme.Translucent" />-->
        <!-- 360自动更新 end ↑↑↑↑↑↑ -->


        <!-- xinyusoft end (注意：微信登录的Activity需要自己去创建，信鸽推送的id也要自己去申请 ) -->


        <!-- 支付宝支付 start -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!-- 支付宝支付 end -->

    </application>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

</manifest>